body{
  background-color: rgb(205, 239, 239);
  color: aliceblue;
}

select , input {
  background-color: rgb(174, 203, 203);
  border-radius: 10ch;
  border: 2px solid  rgb(174, 203, 203);
  width:190px;
  height: 28px;
}
.star{
margin-left: 120px;
margin-top: 60px;
}

.library{
color: rgb(193, 246, 246);  
border: 12px solid  rgb(44, 153, 153);
background-color:  rgb(44, 153, 153);
background-image: url('logo.svg');
background-repeat:no-repeat;
margin-top: 0;

}

.book{
  border-radius: 10px;
  margin-top: 1.5cm;
  margin-left: 15px;
  background-color: rgb(65, 83, 72);
  
}

label{
  color: rgb(13, 13, 13);
  font-weight: bold;
}
.precedent{
  background-color: rgb(174, 203, 203);
  border-radius: 10ch;
  border: 2px solid  rgb(174, 203, 203);
  width:90px;
  height: 28px;
}
.suivant{
  background-color: rgb(174, 203, 203);
  border-radius: 10ch;
  border: 2px solid  rgb(174, 203, 203);
  width:90px;
  height: 28px;
}





